.box-layout{
    align-items:center;
    background: url('/images/bgfinal.svg');
    display:center;
    height:80vh;
    border: 1px dotted;
    justify-content: center;
    
    background-position: center;
    width:100vw;
    padding-top:50,50%; 
}

.box-layout__box{
    background:fade-in($color: #000000, $amount: 0.25);
    border-radius: 3px;
    padding: 0.2rem;
    text-align: center;
    height:15rem;
    width: 60rem;

}

.box-layout__title{
    margin: 1.6rem;
    line-height: 1;


}